<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="htpp://www.thymeleaf.org">

<head>
  <title>Inicio Sesion</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <div class="row">
    <div class="col-lg-4"></div>

    <div class="col-lg-4">

      <div th:if="${error==true}">
        <div>
          <div class="alert alert-danger" role="alert">
            Rut y/o Contraseña Incorrectos
          </div>

        </div>
      </div>

      <form class="form-signin" th:action="login" method="post" th:object="${usuario}">
        <div class="row">
          <div class="col-lg-4"></div>

          <div class="col-lg-4">
            <img class="mb-4"
              src="https://previews.123rf.com/images/arbuzu/arbuzu1410/arbuzu141000328/32594084-letra-l-logo-icono-elementos-de-plantilla-de-dise%C3%B1o.jpg"
              alt="" width="100%" height="100%">
          </div>
        </div>

        <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
        <label for="inputUsuario" class="sr-only">Rut Usuario</label>
        <input type="text" id="inputUsuario" class="form-control" placeholder="Rut" required="" autofocus=""
          th:field="*{rut}">
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required=""
          th:field="*{contrasena}">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <p class="mt-5 mb-3 text-muted">© 2019-2020</p>
      </form>



    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>